<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <p>Dear <strong th:text="${userName}">User</strong>,</p>
        <p>Your password has been successfully reset. Your new password is: <strong th:text="${newPassword}"></strong></p>
        <p>Please make sure to change your password after logging in.</p>
        <p>If you did not request a password reset, please ignore this email or contact support.</p>
        <p>Best regards,<br>Your Company</p>
    </div>
</body>
</html>